*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /*border: 1px solid red;*/

}

body{
    padding: 1rem;
    min-height: 100vh;

    background-image: url("../img/ダウンロード (18).webp");
    background-size: cover;
    background-color: rgba(0,0,0,0,5);

   /* background: linear-gradient(to bottom,#ff3802,#8800cd);*/

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.container{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.item{
    flex: 1;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card{
    background-color: white;
    border-radius: 16px;
    padding: 1rem;
    box-shadow: 0 16px 32px black;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 153, 0);
  font-size: 40px;
}
