* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red !important; */
}

body {
    font-family:
        "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
        Meiryo, sans-serif;

        background-color: #f7f6f9;
        background-image: radial-gradient(circle, #ffffff 39px, transparent 39px);
        background-position: 0 0;
        background-size: 78px 62px;

    min-height: 100vh;
    padding: 2rem;
}

.kaisei-decol-bold {
  font-family: "Kaisei Decol", serif;
  font-weight: 700;
  font-style: normal;
}

h1{
    font-family: "Kaisei Decol", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: hsl(233, 64%, 61%);
}

h2{
    font-family: "Kaisei Decol", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: hsl(0, 0%, 0%);
}

p {
    color: #666;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

video {
        display: block;
    width: 100%;
    object-fit: cover;
}

.icon {
    width: 128px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* レイアウト */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack>*+* {
    margin-top: 1rem;
}

.stack-small>*+* {
    margin-top: 0.5rem;
}

.stack-large>*+* {
    margin-top: 2rem;
}

.center {
    box-sizing: content-box;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* カードスタイル */
.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 11, 219, 0.1);
}

.bio {
    font-weight: 200;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.socials a {
    width: 50px;
    height: 50px;

    background: rgba(255, 255, 255, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.item {
    flex: 1;
    /* flex: 1; は flex-grow: 1, flex-shrink: 1, flex-basis: 0 の省略形 */
    /* 各アイテムが利用可能なスペースを均等に分割して占有する */

    /*
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    */

    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border: 2px solid rgb(164, 167, 187);
}

.item img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}



footer p {
    font-size: 0.75rem;
    font-weight: 200;
}

.setumei{
    font-size: 0.75rem;
    color: #444;
    text-align: left;
    margin: 0.75rem;
}

.favorite{
    color: #444;
    text-align: center;
    margin: 1rem;
}