
body {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 2rem;
  background: #f8f9fa;
  color: #fefff5;
  min-height: 100vh;
}

header {
     color: #373831;
  text-align: center;
  margin-bottom: 2rem;
}

header img {
  width: 1700px;
  height: 200px;
  margin-bottom: 1rem;
}

.rank-container {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  flex-wrap: wrap; /* 画面狭いと自動で折り返し */
}

.rank-card {
  background: #b00000e4;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,.08);
  text-align: center;
  max-width: 220px; /* 好きな幅に調整 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rank-badge {
  font-size: 1rem;
  background: #ffbf0097;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 50px;
  margin-bottom: 0.8rem;
}

.rank-card img {
  width: 150px;  /* 好きなサイズに調整可能 */
  height: auto;  /* 比率維持 */
  border-radius: 8px;
  object-fit: contain;
  display: block;
  margin-bottom: 0.5rem;
}

.rank-card figcaption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.meta {
  font-size: 0.8rem;
  color: #c4c4c4;
  margin-bottom: 0.5rem;
}

.movie-comment {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  line-height: 1.4;
}

.more-link {
  color: #1e88e5;
  font-size: 0.9rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.more-link:hover {
  text-decoration: underline;
}

.score {
  font-weight: bold;
  margin-top: 0.5rem;
}

.my-profile-card {
  max-width: 900px;
  margin: 2rem auto 0 auto;
}
