
body {
    font-family: sans-serif;
    /*background-color: #292929;*/
    background-image: url('../img/black-kraft-paper-textured-background_53876-124549.png'); 
    color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    
}

hr {
    width: 100%; 
    margin-bottom: 30px;
    border: none;
    border-top: 5px solid #ffffff; 
}

.information {
    position: fixed;
    top: 0;        
    background-color: #000000; 
    z-index: 11;
    width: 100%;
    /*border-bottom: 1px solid;*//*下に線*/
    height: 80px;
    left: 0;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: -15px;
    margin-bottom: 50px;
    
    
}

.socials a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none; 
}

.profile {
    text-align: center; 
    padding: 10px;
}

h3 {
    margin-top: 15px; 
    margin-left: 10px;
    font-size: 25px;
}


.icon-photo{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    display: flex;
    gap: 1rem;
    margin: auto;
    margin-top: 90px;
}

h1 {
    color: #ffffff; 
    margin-top: -1px;
}




.main-links a{
    display: block; 
    width: 90%; 
    margin: 30px auto; 
    padding: 40px 20px;
    background-color: #535353; 
    color: rgb(255, 255, 255);
    text-decoration: none; 
    border-radius: 0px; 
    box-shadow: 5px 5px #2b2b2b; /* 影 */
    transition: background-color 0.3s;
    text-align: center; 
    font-size: 30px;
}

.main-links a:hover {
    background-color: #474747; 
}



.gallery h2 {
text-align: center;
color: #ffffff;
padding-bottom: 5px;
margin-top: 70px;
margin-bottom: 20px;
}


.comic{
gap: 10px;
margin-bottom: 40px;
display: flex; 
justify-content: center; 
flex-wrap: wrap;
}

.comic img {
width: 190px; 
height: 282px;
border-radius: 8px;
object-fit: cover;
}

.comic img:hover {
    filter: brightness(70%); 
}


.music {
gap: 20px;
margin-bottom: 60px;
display: flex; 
justify-content: center; 
flex-wrap: wrap;
}

.music img {
width: 180px; 
height: 180px; 
border-radius: 2px;
object-fit: cover;
transition: filter 0.3s ease; 
}

.music img:hover {
    filter: brightness(70%); 
}



.external-links ul {
    list-style: none; 
}

.external-links li a {
    display: block;
    padding: 10px;
    margin: 0 auto 8px -50px;
    background-color: #ffffff;
    border: 3px solid #303030;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.external-links li a:hover {
    background-color: #7a7a7a;
}


footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px dashed #949494;
    color: #888;
}

