* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {

    --clr1: #222222; 

    background: repeating-linear-gradient(
        -45deg,
        var(--clr1) 0px,
        var(--clr1) 15px,
        #111111 15px, 
        #111111 16px
    );

    min-height: 100vh;
    padding: 2rem;
}


.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.shippori-mincho-b1-regular {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}


h1,
h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #00ffa6; 
    text-shadow: 0 0 10px rgba(0, 255, 166, 0.5); 
}

p {
    color: #cccccc; 
    font-family: "Shippori Mincho B1", serif;
}


img {
    display: block;
    width: 100%;
    height: auto;
}




/* レイアウト */

.stack > * + * {
    margin-top: 1rem;
}

.stack-small > * + * {
    margin-top: 0.5rem;
}

.stack-large > * + * {
    margin-top: 2.5rem;
}

/* センタリング */
.center {
    box-sizing: content-box;
    max-width: 50rem; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



/* カードデザイン */
.card {
    background-color: #333333; 
    color: #fff;
    border-radius: 20px; 
    padding: 2rem;
    border: 1rem solid rgba(0, 255, 166, 0.2); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4); 
}


.card2 {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                      url('../img/minatomirai.jpg'); 
    background-size: cover;                             
    background-position: center;                        
    background-repeat: no-repeat;                       
    color: #fff;
    border-radius: 20px;
    padding: 8rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.bio {
    font-weight: 300;
}


/* ソーシャルアイコン*/
.socials {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.socials a {
    width: 50px;
    height: 50px;
    background: rgba(0, 255, 166, 0.1); 
    color: #00ffa6; 
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials a:hover {
    background-color:red;
    box-shadow: 0 6px 20px rgba(0, 255, 166, 0.8);
    transform: translateY(-2px);
} 


/* ギャラリー (横並び) */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.item {
    flex: 1; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




/* 画像リンク */

.imagelinks{
    width: 100%;
    height: 100%;
}

/* 画像全体をクリックできるようにする */
.imagelinks a {
    display: block; 
    width: 100%;
    height: 100%;
}

/* カーソル合わせたときの動き */
.imagelinks a:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 255, 192, 0.6);
}



footer p {
    font-size: 0.8rem;
    font-weight: 200;
    color: #777;
}