body {
    padding: 1rem;
    min-height: 100vh;
    background-image: url('../img/lighter-pink-color-solid-background_672856-80.avif');
    background-size: cover;
    font-family:  'Itim', sans-serif;
    font-size: small;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
}


.stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.jp-text {
    font-family: "Zen Maru Gothic", sans-serif;
}

.simple-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}