*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
    background: repeating-linear-gradient(
        45deg, 
        lightyellow 0px, 
        lightyellow 10px, 
        white 10px, 
        white 20px
        );
    font-family: "Helvetica Neue", Arial;
}

.header{
    background-color: lightcoral;
    display: inline-flex;
    border: solid;
    border-color: coral;
}

.main{
    background-color: lightgoldenrodyellow;
    display: inline-flex;
    border: solid;
    border-color: gold;
}

.insert-img{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.osusume{
    background-color: orange;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
}

.container{
    background-color: white;
    padding: 3rem;
    margin-top: 2rem;
}

.display{
    display: block; 
}

.img{
    display: inline;
    width: 300px;
    height: 250px;
    margin: 0.75rem;
    padding: 1rem;
}

.tip{
    display: flex;
    text-align: top;
    width: 200;
    height: 200;
    text-align: center;
}

.kotteri{
    background-color: antiquewhite;
    border:solid;
    border-color:yellow;
}    

.Kairikiya{
    background-color: lightpink;
    border: solid;
    border-color: red;
}

.Masamune{
    background-color: lightgray;
    border: solid;
    border-color: brown;
}

.refer{
    display: inline-block;
    background-color: beige;
    border: solid;
    border-color: black;
}

.comment{
    background-color: azure;
}
