

body{
    background: #f0f0f0;
}

h1 {
  font-family: 'Playwrite NZ Guides', cursive;
  letter-spacing: 2px;
    text-align: center;
}

.switcher {
 display: flex;
justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.switcher img {
 width: 70px;
    height: 70px;
}

.groups{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;}

.group-card{
    background: white;
    border: radius 12px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.group-card h2{
    margin: bottom 8px;
}

.debut{
    font-size:14px;
    color:#666;
    margin-bottom: 8px;
}
.office{
     font-size:11px;
    color:#666;
    margin-bottom: 8px;
}

/*fontはGoogleFontsで取得*/