
body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #f5f5f5;
}

.links img {
    width: 30px; 
    height: 30px;
    vertical-align: middle;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
}

.page-wrapper {
    width: 100%;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

header {
    text-align: center;
    padding: 20px;
    background: #ffffff;
}

.main-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 75%; 
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 8px;
}


.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0;
}


.venue-block h3 {
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 15px;
    display: block;
}


.favorite-venue h3 {
    background-color: hsl(333, 58%, 49%); 
    color: hsl(0, 0%, 100%);
    box-shadow: 0 2px 4px hwb(0 0% 100% / 0.2); 
}

.disliked-venue h3 {
    background-color: hsl(200, 61%, 49%); 
    color: hsl(0, 0%, 100%);           
    box-shadow: 0 2px 4px #00000033;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
}

section {
    background: #ffffff;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}

.venue-block {
    margin-bottom: 150px;
}

.comment {
    background: #eee;
    padding: 8px;
    border-radius: 4px;
}

.gallery {
    display: flex;
    gap: 10px;
}

.gallery img {
    width: 33%;
    border-radius: 6px;
}

.external li {
    margin: 6px 0;
}

footer {
    text-align: center;
    padding: 15px;
    color: #777;
    background: #fff;
}
