
head{
    margin: 0;
    padding: 0;

}

/* <weight>: Use a value from 400 to 900
 <uniquifier>: Use a unique and descriptive class name
*/

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-bold {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body {
    background-color: #f0f2ef;
    font-family: "Zen Maru Gothic", sans-serif;

    background-image:
        /* グリッド縦線 */
        linear-gradient(to right, rgba(255,255,255,1) 1px, transparent 1px),
        /* グリッド横線 */
        linear-gradient(to bottom, rgba(255,255,255,1) 1px, transparent 1px);
    background-size:
        40px 40px,
        40px 40px;

    margin: 0;
    padding: 1rem;

    border-top: #79b8bf 2.5rem solid;  
    border-left: #79b8bf 2.5rem solid;
    border-right: #79b8bf 2.5rem solid;
    border-bottom: #79b8bf 2.5rem solid;



}

.top{
    font-family: sans-serif;
    font-size: 0.5rem;
    color: #da4855;
    display: flex; 
    gap: calc(100% / 5);
}


h1 {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 700;
    color: #da4855;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    

}

.flower{
    color: #bf984d;
    margin: 0rem;
    padding: 0rem;
    font-size: 3.5rem;
}


.syoukai {
    
    background-color: #ffffff;
    padding: 0.3rem 0.7rem;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    margin-top: -1rem;
    margin-bottom: 3rem;
    color: #da4855;

    border-top: #da4855 0.3rem solid;  
    border-left: #da4855 0.3rem solid;
    border-right: #da4855 0.3rem solid;
    border-bottom: #da4855 0.3rem solid;

}


/*タイトル見出し・中尊寺*/
.c{
    padding: 0.5rem 0.5rem;
    z-index: 1000;
    text-align: center;
    font-size: 2rem;
    
    margin-top: -0.5rem;
    margin-left: -0.7rem;
    margin-bottom: -5rem;

    color: #ffffff;
    line-height: 2rem;
    background: #da4855;

    display: inline-block;
    width: 6rem; 
    
    -webkit-box-direction-break: clone;
    box-decoration-break: clone;  
}

/*タイトル見出し・金蛇水*/
.k{
    padding: 0.5rem 0.5rem;
    z-index: 1000;
    text-align: center;
    font-size: 2rem;
    
    margin-top: -0.5rem;
    margin-left: -0.7rem;
    margin-bottom: -5rem;

    color: #ffffff;
    line-height: 2rem;
    background: #da4855;

    display: inline-block;
    width: 10rem; 
    
    -webkit-box-direction-break: clone;
    box-decoration-break: clone;
}

/*タイトル見出し・酒列磯前*/
.s{
    padding: 0.5rem 0.5rem;
    z-index: 1000;
    text-align: center;
    font-size: 2rem;
    
    margin-top: -0.5rem;
    margin-left: -0.7rem;
    margin-bottom: -5rem;

    color: #ffffff;
    line-height: 2rem;
    background: #da4855;

    display: inline-block;
    width: 12rem; 
    
    -webkit-box-direction-break: clone;
    box-decoration-break: clone;
}

h4{
    padding: 0.5rem 0.5rem;
    z-index: 1000;
    text-align: center;
    font-size: 1.5rem;
    
    margin-top: 0rem;
    margin-left: -0.7rem;
    margin-bottom: -5rem;

    color: #ffffff;
    line-height: 2rem;
    background: #da4855;


    width: 4.5rem; 
    
    -webkit-box-direction-break: clone;
    box-decoration-break: clone;

}

h3{
    color: #da4855;
    font-size: 1.5rem;
    line-height: 0.3;
    margin-top: 8rem;
    
    padding-left: 1rem;
    padding-right: 1rem;   
}


.yoko{
    display: flex; 
    gap: 1rem;

}

.honbun {
    margin-top: 0rem;
    color: #888888;
    font-size: 1.2rem;

    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;   
}

.syoukaiimg {
    z-index: 500;
    width: 300px; 
    margin-top: -3rem;
}

.link{
    display: flex; 
    gap: 1rem;

}

.QRcord{
    margin-top: -1rem;
}

.linkword{
    margin-top: 3rem;
}

.footertext{
    text-align: center;
    color: #bf984d;
    font-size: 0.8rem;
    margin-top: 2rem;
}