*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ヘッダー */
.header{
    position: relative;
    text-align: center;
    background-color: #f8e58c;
}


.search{
    position: fixed;  
    width: 100%;      
    background-color: #f8e58c;
    z-index: 1000;
    padding: 10px;
    box-shadow: 2px 2px 4px #958e49;
}

.search{
    display: flex;
    
}

.button{
    height: 25px;
}

.kaiin{
    margin-left: 30px;  
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}

.kensaku{
    width: 300px;
    height: 25px;
}

.main-img{
    width: 100%;
    height: auto; 
}

.img-title{
    font-size: 300%;
    color: white;
    position: absolute;
    top: 80%;;
    text-shadow: 2px 2px 4px #000;
    margin-left: 10px;
}

/* bodyの部分 */

.syoukai{
    margin-left: 10px;
}

.material-amount{
    margin-bottom: 50px;
}

main{
    background-color: #f8e58c;
}

.title1{
    font-size: 200%;
    margin-left: 10px;
}

.title2{
    font-size: 85%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.dashed-hr{
    border: 1px dashed #333;
    margin: 10px;        
}

.material{
    font-size: 150%;
    margin-left: 10px;
}

.amount{
    margin-right: 10px;
}

.recipe{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* 作り方 */

.title{
    font-size: 200%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.number{
    font-size: 150%;
    margin-right: 20px;
    margin-left: 10px;
}

.How-to-make{
    margin-bottom: 50px;
}

.make{
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}



footer{
    background-color: #f8e58c;
    margin: 0;
}

.box{
    background-color: gray;
    color:white;
    font-size: 100%;
    margin-bottom: 10px;
    width: 100%;
}



.text textarea{
    width: 520px;
    height: 70px;
    margin: 0;
    margin-left: 10px;          
    padding: 0 10px;        
    box-sizing: border-box;     
}

.review{
    margin-left: 10px;
    height: 30px;
    width: 520px;
    margin-bottom: 10px;
}

.others{
    display: flex;
}

.others-dish{
    margin-top: 10px;
}

.others-img{
    height: auto;
    width: 200px;
    margin: 10px;
}

.link{
    margin-left: 10px;
    margin-bottom: 10px;
}



