:root {
    --main-color: #708090; 
    --text-color: #333333;
    --bg-color: #F0F8FF; 
    --link-color: #FFFFFF; 
}

body {
    font-family: 'Noto Serif JP', serif; 
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    line-height: 1.6;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}

main {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
    margin-top: 30px;
}

.profile-image-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    border-radius: 50%; 
    overflow: hidden;
    border: 3px solid var(--main-color);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.catchphrase {
    text-align: center;
    margin-bottom: 30px;
}

.link-card {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
    
    background-color: var(--main-color);
    color: var(--link-color);
    padding: 15px 20px;
    margin-bottom: 15px;
    
    border-radius: 10px; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.link-card:hover {
    background-color: #5A6A7A; 
}

.link-card i {
    margin-right: 10px; 
}

.gallery-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.gallery-item img {
    object-fit: cover;
    border-radius: 5px
}

.links-list a {
    display: block; 
    
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;
}
