*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

body{
    background-color:#BE5A6F;
}
/* My Collection */
header{
    background-color:#E5DECE;
    color: white;
    display: flex;
    font-size: 2.8rem;
    margin: bottom 3rem;
     justify-content: center;
}

/* .sakura{
    justify-content: center;
} */


span {
    font-size: 3rem;
}
.Home{
    font-size: 1.9rem;
    margin-top: auto;
    margin-left: auto;
    color: #BBE1FA;
}

.ZA{
    
    background-color: #E5DECE;
    font-size:1.3rem;
    h1{
        background-color: #BE5A6F;
        color: white;
        display: flex;
    justify-content: center;
    }
    .icon {
        padding-left: 2%;
        background-color: #E5DECE;
        h3{
            color: white;
        }
        display: flex;
        margin:2rem;
        h3{
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5rem;
            font-size: 3rem;
        }
    }
}

.nekoatume{
    background-color: #E5DECE;
    font-size: 1.3rem;
    h1{
        background-color: #BE5A6F;
        color: white;
        display: flex;
    justify-content: center;
    }
    .img {
        padding-left: 2%;
        background-color: #E5DECE;
        display: flex;
        margin:2rem;
        h3{
            color: white;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5rem;
            font-size: 3rem;
        }
    }
}

footer{
    .matubi{
        font-size: 1.5rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    background-color: #913344;
    color: white;
}


.topimg{
     display: flex;
    justify-content: center; /* 水平方向の中央 */
    /* max-width: 50ic;
    margin-left: auto;
    margin-right: auto; */
}

/*行間を調整*/
/* .text > * + *{ */
    /* margin-top: 1rem; */
/* } */

.text{
    color: white;
    h3{
        font-size: 4.5rem;
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
    }
    p{
        font-size: 3.5rem;
        display: flex;
        justify-content: center;  
        background-color:#913344 ;     
        
         max-width: 20ic;/* 幅の最大値を決める（30文字） */
        margin-left: auto;/* マージン計算をブラウザに任せる */
        margin-right: auto;/* マージン計算をブラウザに任せる */
    }
}

.temoti{
    color: #BBE1FA;
    h5{
        font-size: 3rem;
        display: flex;
        justify-content: center;
        padding-top: 3%;
    }
    p{
        font-size: 2.5rem;
        display: flex;
        justify-content: center;        
    }
    margin-bottom: 5%;
}

.gazou{
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-top: 2%;
}

.rinkushuu{
    padding-left: 50%;
}
