/* ===================
   リセットCSS
 =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* デバッグ用枠線 */
    /* border: 1px solid red; */
}



/* ===================
   基本レイアウト
 =================== */
header {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #9d00ff, #0D0E20);

    padding-bottom: 2rem; /* 下に余白 */
}

main{
    display: flex;
    flex-direction: column;
    
    max-width: 700px;
    margin: 0 auto;
    padding: 4rem 4rem; /* 上下に余白 */
}

.wrapper {
    max-width: 700px; /* 最大幅を設定 */
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #ffffff8a;
    margin: 4rem auto; /* 上下に空白 */
}




/* ===================
   ナビゲーション関連
=================== */
nav{
    display: flex;
    justify-content: center; /*全体的に真ん中へ */
}

.main-nav{
    display: flex;
    gap: 7rem; /* ナビゲーションリンク間の余白 */
    padding: 0.8rem 0;  /* 文字上下の余白 */
    border-bottom: 1px solid #ffffff8a; /* 下線を追加 */
}

.main-nav a {
    font-family: 'Unna', serif;
    text-decoration: none; /* 下線なし */
    color: #ffffff;
}




/* ===================
   プロフィール関連
=================== */
#profile-img {
    display: block;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto; /* 水平方向の中央揃え */
    margin-bottom: 0.75rem; /* 下に空白 */
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem; /* アイコン間の余白 */
}

.social-link {
    color: rgba(0, 0, 0, 0.5);
    margin: 0.75rem 0; /* 上下に空白 */
}




/* ===================
    テキスト関連
=================== */
h1{
    color: #FFF;
    font-size: 3rem;
    text-align: center;
    font-family: 'Unna', serif;
    margin-bottom: 2rem; /* 下に空白 */
}

h3, p{
    color: #FFF;
    text-align: center;
    font-family: 'Unna', serif;
    margin-top: 0.3rem; /* 上に空白 */
}




/* ===================
   ボックス関連
=================== */
.container {
    display: flex;
    gap: 1.5rem; /* 画像間の余白・横 */
    justify-content: center; /* 水平方向の中央 */
    align-items: center;    /* 垂直方向の中央 */
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* 画像間の余白・縦 */
}

.box {
    width: 100%;
    margin: 0 auto;
}




/* ===================
   リンクボタン
=================== */
.link-buttons {
  text-align: center;
  padding: 2rem 0;
}

.link-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* アーチ形ボタン */
.arch-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 150px;
  height: 200px;
  background-color: #ffffff20; /* 半透明の白 */

  border: 1px solid #ffffff80;
  border-radius: 90px 90px 0px 0px; /* 上丸・下直線 */

  text-decoration: none; /* 下線なし */

  padding-top: 2rem;
}

.link-title {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem; /* 文字の間隔 */
}

.link-desc {
  max-width: 85%; /* 幅を制限 */
  font-size: 0.9rem;
  margin: 0 auto;
  line-height: 1.4; /* 行間 */
}




/* ===================
   フッター
=================== */
footer {
    padding: 0.8rem;
    border-top: #ffffff8a 1px solid;
}

.copyright {
    color: #ffffff8a;
    margin-top: 0;
}