body {
    padding: 1rem;
    min-height: 100vh; 
    text-align: center;
    gap: 1rem;
    justify-content: center;
 }
 h1 {
    text-align: center;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
 }
 .flex-container {
    display: flex;
    gap: 1rem; 
 }
.star{
    background: pink;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Kosugi Maru", sans-serif;
}
.garally{
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    margin-bottom: 2rem
    ;
    
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    background: repeating-linear-gradient(
        45deg,
        #ffffff 0px,
        #ffffff 10px,
        pink 10px,
        pink 20px
        
    )
    }
.item {display: flex;}
.tappu{background: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    display: inline;
    margin-top: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    font-family: "DotGothic16", sans-serif;
}
.I7{
    background: black;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.garally2{
     border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    margin-bottom: 2rem
    ;
    
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.5); 
  color: #000;
       
}
.tappu2{background: rgb(255, 255, 255);
    
    border-radius: 4px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    display: inline;
    margin-top: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    font-family: "DotGothic16", sans-serif;
}
.Unit {font-size: 100px;}

.yakusoku{
    background: linear-gradient(to bottom, #74b9ff, #8809e3);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: "Zen Old Mincho", serif;
}
.garally3{
     border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    margin-bottom: 2rem
    ;
    
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.5); 
  color: #000;
}
.tappu3{background: rgb(255, 255, 255);
    
    border-radius: 4px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    display: inline;
    margin-top: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    font-family: "DotGothic16", sans-serif;
}

h2 {
    font-size: 2rem
    ;
}
.big{
    font-size: 1.5rem;
}