* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: clamp(0px, calc(15vw - 55px), 100px);
  min-height: 100vh;
  background-size: cover;
  background: linear-gradient(135deg, #fbc2eb, #a18cd1);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

header {
  text-align: center;
  margin-bottom: 6rem;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-size: clamp(40px, 8vw, 100px);
  color: whitesmoke;
  font-weight: 400;
  font-style: italic;
  padding: 5vw 0;
}

header p {
  font-size: clamp(8px, 8vw, 20px);
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 16px;
  padding: clamp(0px, 2vw, 100px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.split {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;
  align-items: stretch;
}

.jacket {
  width: clamp(50px, 30%, 500px);
  flex-shrink: 0; /* 画像がつぶれないように */
  display: flex;
}

.jacket-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 0;
}

.blue-box {
  background-color: #e0f7fa;
  padding: clamp(0px, 1.5vw, 30px);
  border-radius: 8px;
  color: #006064;
  height: auto;
  flex-grow: 1;
  font-size: clamp(12px, 2vw, 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blue-box h3 {
  font-size: 1.5em;
  margin-bottom: 0.2rem;
  line-height: 1.2;
}

.blue-box h4 {
  font-size: 1.1em;
  margin-bottom: 0.3rem;
}

.blue-box p {
  font-size: 0.9em;
  line-height: 1.4;
}

.split.reverse {
  flex-direction: row-reverse;
}

.music-unit {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.music-unit.reverse {
  flex-direction: row-reverse;
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.icon-link {
  display: block;
  width: 50px;
  height: 50px;
}

.icon-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
}

@media (max-width: 768px) {
  .music-unit,
  .music-unit.reverse {
    flex-direction: column;
  }
  .side-nav {
    flex-direction: row;
  }
}
