/*ヘッダーの背景設定*/
.header{
    background-image: url('../img/profile.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




/* My profile */
.title1{
    text-align: center;
    padding: 30px;
    font-family: "Send Flowers", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(95, 90, 90);
}

/* 全体の中央揃え */
.profile-container {

  box-sizing: content-box;
  max-width: 30ic;
  margin-left: auto;
  margin-right: auto;

 /* 子要素の揃え */
  display: flex;
  flex-direction: column;
  align-items: center; /* または start */

  text-align: center; /* 中身を中央に寄せる */
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);  /*影*/
  background-color: rgba(248, 248, 248, 0.575);
  border: 3px solid white; /*白い枠 */
  border-radius: 8px; /*角丸 */

}

/* アイコンの設定 */
.profile-icon {
  width: 200px;       /* 横幅 */
  height: 200px;      /* 高さ（横幅と同じにする） */
  border-radius: 50%; /* 正円にするコード */
  object-fit: cover; 
  border: 3px solid white; /*白い枠 */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); /*影*/
}

/*引用*/
.profile-note1 {

  font-size: 8px ;
  margin-top: 10px;
  font-family: Noto Sans, sans-serif;

}

/* 名前 */
.profile-container h1{
    font-family: "Send Flowers", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
    color: rgb(95, 90, 90);
}


/* プロフィール項目の外枠（全体の枠） */
.profile-item {
    width: 85%;
    background: #ffffffcc;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* 丸アイコン（左側の丸） */
.item-icon.birthday {
    width: 40px;
    height: 40px;
    background-image: url('../img/cake.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-icon.hobby {
    width: 40px;
    height: 40px;
    background-image: url('../img/youtubeicon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-icon.insta {
    width: 40px;
    height: 40px;
    background-image: url('../img/inst.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-icon.mail {
    width: 40px;
    height: 40px;
    background-image: url('../img/mail.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-icon.X {
    width: 40px;
    height: 40px;
    background-image: url('../img/X.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-icon.playlist {
    width: 40px;
    height: 40px;
    background-image: url('../img/music.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* タイトル＋内容部分 */
.item-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* タイトル行（太字） */
.item-title {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    color: rgb(88, 151, 109);
}

/* 内容行（少し小さめ） */
.item-content {
    font-size: 16px;
    margin: 2px 0 0 0;
}

.item-content.birthday{
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(95, 90, 90);
}

.item-content.hobby{
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(95, 90, 90);
}


/*引用*/
.profile-note2{
    text-align: right;
    margin: 10px;
    font-family: Noto Sans, sans-serif;
    font-size: 10px;
}


/* Myfavoriteanimation の背景 */
.Myfavoriteanimation{
    background-image: url('../img/myfavorite.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}


/* タイトル（My profileと同じに） */
.title2{
    text-align: center;
    padding: 30px;
    font-family: "Send Flowers", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 255, 255);
}



.title-note{
    font-family: "Kiwi Maru", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin: 0px; 
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* バーや引用を揃えたい */
.bar{
    /* ここに幅の制限と中央寄せを持たせる */
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;

    /* 中身を縦に並べて、左端（flex-start）に揃える */
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}



/* KPDH-bar */
.KPDH-bar {
    width: 100%; /* 親の幅いっぱいに広げる */
    margin-left: 0;
    margin-right: 0;
    
    box-sizing: border-box; /* content-boxだと親からはみ出る可能性がある*/
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(7, 3, 44);
    background-image: url('../img/KPDH-bar.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.568);
    border: 3px solid rgba(27, 2, 253, 0.164);
    border-radius: 8px;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}

.hazbin-bar{

    width: 100%; /* 親の幅いっぱいに広げる */
    margin-left: 0;
    margin-right: 0;
    
    box-sizing: border-box; /* content-boxだと親からはみ出る可能性がある*/
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(29, 0, 5) ;
    background-image: url('../img/hazbin-bar.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.568);  /*影*/
    border: 3px solid rgba(141, 2, 25, 0.425); /*枠 */
    border-radius: 8px; /*角丸 */
    text-align: center;
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
  
}

.barlink {
    color: white;
    text-decoration: none; /* 下線を消したい場合 */
}

/*引用*/
.fav-note1{   
    box-sizing: border-box; /* content-boxだと親からはみ出る可能性がある*/
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;

    padding-top: 0px;   
    padding-left: auto;
    font-family: Noto Sans, sans-serif;
    font-size: 10px;
    color: white;

}

/*引用*/
.fav-note2{
    padding-top: 10px;    
    font-family: Noto Sans, sans-serif;
    font-size: 10px;
    color: white;

    text-align: right;
}

/* KPDH の背景 */
.KPDH-background{
    background-image: url('../img/KPDH-back.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}

/* 左端をそろえたい */
.KPDH {
    /* ここに幅の制限と中央寄せを持たせる */
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;

    /* 中身を縦に並べて、左端（flex-start）に揃える */
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

/* KPDH-bar */
.KPDH-bar {
    width: 100%; /* 親の幅いっぱいに広げる */
    margin-left: 0;
    margin-right: 0;
    
    box-sizing: border-box; /* content-boxだと親からはみ出る可能性がある*/
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(7, 3, 44);
    background-image: url('../img/KPDH-bar.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.568);
    border: 3px solid rgba(27, 2, 253, 0.164);
    border-radius: 8px;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}

.summary{
  
    width: fit-content;
    height: min-content;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 10px;

    /* フレックスボックス設定 */
    display: flex;
    align-items: center;
    justify-content: center; /* 念のため追加 */

    padding: 5px 10px;

    text-align: left;
    color: white;

}

.summary h1 {
    /* デフォルトの余白を消す */
    margin: 0; 
    
    /* 行の高さを行間なしにする（上下の隙間を詰める） */
    line-height: 1; 

    /* 親要素(.summary)のフォント設定を継承する場合 */
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-size: 40px; /* 見出しなので少し大きめに設定（お好みで調整） */
}

.summary-note{
    margin: 15px; 
    color: white;
    font-weight: 600;
}

.link-hukumu {
    display: grid;
    grid-gap: 60px; 
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px, 1fr) );
    
    /* 親要素を上書き */
    margin: 15px 0; 
    padding: 0;
    width: 95%;

}

/* グリッド内のリンクアイテムの調整 */
.link-hukumu .KPDH-link-all {
    /* グリッドの子要素として幅を100%に設定 */
    width: 100%; 
    /* 垂直方向の余白はグリッドの gap に任せるためリセット */
    margin-top: 0; 
}

/* プロフィール項目の外枠（全体の枠） */
.KPDH-link-all {
    width: 85%;
    background: #af60f8cc;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* 丸アイコン（左側の丸） */
.KPDH-official-link {
    width: 50px;
    height: 50px;
    background-image: url('../img/tiger.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* タイトル＋内容部分 */
.KPDH-link {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* タイトル行（太字） */
.KPDH-link-item {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: rgb(255, 255, 255);
}


/* 内容行（少し小さめ） */
.KPDH-link-note {
    font-size: 16px;
    margin: 2px 0 0 0;
}

.grid {
    display: grid;
    grid-gap: 1.5rem;

    /* カラム最小幅 */
  --minimum: 15ic;
  /* カラム設定 */
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--minimum), 100%), 1fr));

    padding: 20px;


 }

 

.gallery-item img{
    max-width: 100%;
    object-fit: contain;
    height: auto;
    display: block;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/*引用*/
.KPDH-note{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* HAZBIN の背景 */
.HAZBIN-background{
    background-image: url('../img/hazbin-bar.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}

/* 左端をそろえたい */
.HAZBIN {
    /* ここに幅の制限と中央寄せを持たせる */
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;

    /* 中身を縦に並べて、左端（flex-start）に揃える */
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


.summary2{
  
    width: fit-content;
    height: min-content;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 10px;

    /* フレックスボックス設定 */
    display: flex;
    align-items: center;
    justify-content: center; /* 念のため追加 */

    padding: 5px 10px;

    text-align: left;
    color: rgb(255, 255, 255);
    background-color: #970000;

}

.summary2 h1 {
    /* デフォルトの余白を消す */
    margin: 0; 
    
    /* 行の高さを行間なしにする（上下の隙間を詰める） */
    line-height: 1; 

    /* 親要素(.summary)のフォント設定を継承する場合 */
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
}

.summary-note2{
    margin: 15px; 
    padding: 15px;
    color: white;
    font-weight: 600;
    background-color: #970000cc; 
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box; 
}

/* プロフィール項目の外枠（全体の枠） */
.HAZBIN-link-all {
    width: 85%;
    background: #970000cc;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* 丸アイコン（左側の丸） */
.HAZBIN-official-link {
    width: 50px;
    height: 50px;
    background-image: url('../img/apple_mono.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* タイトル＋内容部分 */
.HAZBIN-link {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* タイトル行（太字） */
.HAZBIN-link-item {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: rgb(255, 255, 255);
}


/* 内容行（少し小さめ） */
.HAZBIN-link-note {
    font-size: 16px;
    margin: 2px 0 0 0;
}

.grid2 {
    display: grid;
    grid-gap: 1.5rem;

    /* カラム最小幅 */
  --minimum: 15ic;
  /* カラム設定 */
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--minimum), 100%), 1fr));

    padding: 20px;

    background-color: #970000cc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px; 

 }

/*引用*/
.HAZBIN-note{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    background-color: #965767; /* 暗めの背景色 */
    color: white;
    padding: 30px 10px;
    text-align: center;
}

.footer-container {
    /* メインコンテンツの幅に合わせた中央揃え */
    max-width: 900px; 
    margin: 0 auto;
    
    /* 2列で表示するためのFlexbox設定 */
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; /* 画面が狭くなったら折り返す */
    padding-bottom: 20px;
    text-align: left; /* コンテナ内のテキストを左揃えに戻す */
}

/* 各フッター列のタイトル */
.footer-title {
    font-family: "Send Flowers", cursive; 
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
    color: #ddb970; 
}

/* リンク一覧 */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

